body{
    margin: 0px;
    padding: 0px;
}

div{
    width: 100%;
    height: 100px;
}

.first_block{
    background-color: orangered;
    position: sticky;
    top: 0;
}

.second_block{
    background-color: green;
    position: sticky;
    top: 0;
}